.flexContainer {
  display: flex;
}

.marginAuto {
  margin: auto;
}

.navBar-Container {
  display: flex;
  background-color: rgb(133, 4, 4);
  justify-content: space-between;
}

.navBar-Links {
  display: flex;
  list-style-type: none;
  margin: auto 0;
}

.navBar-Links-Item {
  margin: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navBar-Links-Item:hover {
  color: red;
}

.cart-counter {
  background: black;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 1%;
  right: 0.5%;
}

.cart-widget-container {
  display: flex;
  position: relative;
}
